body {
  background-image: url("/assets/DIYsign-pic.jpg");
  font-family: Futura;
  font-weight: bold;
}

.heading {
  color: white;
  font-family: Futura;
  font-size: 6em;
}

.navbar {
  background-color: black;
  font-weight: bold;
}

.header-links {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.15em;
}

.nav-links {
  padding-right: 5px;
  padding-left: 5px;
}

.header-links-div {
  background: rgba(0, 0, 0, .7);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 27%;
  margin-right: 27%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-background {
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  margin-bottom: 10px;
  margin: 3%;
}

.project-index {
  font-weight: bold;
  font-size: 2em;
}

.search-button {
  border: none;
  width: 100%;
  font-size : 25px;
  font-weight: bold;
  color : white;
  padding : 5px 17px;
  background : black;
  opacity: .8;
}

.search-button:hover {
  opacity: 1;
}
