body {
  background-image: url("/assets/DIYsign-pic.jpg");
  font-family: Futura;
  font-weight: bold;
}

.heading {
  color: white;
  font-family: Futura;
  font-size: 6em;
}

.navbar {
  background-color: black;
  font-weight: bold;
}

.header-links {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.15em;
}

.header-links-div {
  background: rgba(0, 0, 0, .5);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 27%;
  margin-right: 27%;
  margin-bottom: 10px;
  border-radius: 5px;
}
