.sign_up_whole {
  padding: 10px;
  background-color: white;
  opacity:0.7;
  border-radius: 30px;
}

.subheading {
  font-weight: bold;
  opacity: 1;
}

.sign_up_heading {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
}
